@import url("https://fonts.googleapis.com/css?family=Poppins:700|Inter:400,500,600|Mulish:400,700");


@font-face {
    font-family: 'Museo Sans Rounded';
    src: local('Museo Sans Rounded 900'), local('../fonts/MuseoSansRounded-900'),
        url('../fonts/MuseoSansRounded-900.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}