html,
body {
  height: 100%;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s ease;
}

a:active {
  opacity: 0.7;
}

ul {
  list-style: none;
}

.blue {
  color: #0078FA!important;
}

.green {
  color: #00CBFF!important;
}

.container {
  max-width: 89.931vw;
  margin: 0 auto;
}

h2 {
  margin-bottom: 1.389vw;
}